  * {
    box-sizing: border-box;
  }

  body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-image: url("../image/bobby-rodriguezz-1043115-unsplash.jpg");
  
  }
  
  .container {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 80%;
    background: #5F81AD;
    color: white;
    opacity: .8;
    font-family: 'Permanent Marker', cursive;
  }

  h2 {
    color: #d88b07;
  }
  
  button {
    border-radius: 2px;
  }
  
  #submitBtn {
    font-size: 18px;
    margin: 5px;
    padding: 5px;
  }

  #burgerBox1 {
    float: left;
    padding: 10px;
    color: black;
  }

  #burgerBox2 {
    float: right;
    padding: 10px;
    color: black;
  }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
  margin: 5px;
  background: rgb(150, 218, 150);
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
